.form{
   border: 2px solid #00A09A;
   display: flex;
   flex-direction: column;
   position: relative;
   top: 80px;
   width: 45vw;
   margin: auto;
   padding: 4rem 2.4rem;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0,0,0,0.15);
   >*{
       margin-bottom: $m-size;
   }
}
.form:last-of-type{
  border-bottom: 4px solid #00A09A;
}

.form__error{
  margin: 0 0 $m-size 0;
  font-style: italic;
  text-align:center ;
  margin: $s-size 0 0 0;
  color: red;
}
