*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    color: $dark-grey;
    font-size: $m-size;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    background: url('/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: auto;
    opacity: 0.8;
    @media(max-width: $desktop-breakpoint){
        background-size: contain;
        background-repeat: repeat-y;
      }
    }
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
.active{
    color: #6c757d;
}
